{% load i18n %}
{% load space_tags collab_tags %}
{#{% load activity_tags %} {#not needed unless we load the streams directly in the template?#}

<ul class="list-group media-list media-list-stream">
  <li class="list-group-item p-a">
	<h2 class="m-a-0">{% trans 'Recent Activities' %}<small class="text-muted"> {% trans 'in' %} {{ space.name }}</small></h2>
  </li>
	{% if activity_stream %}
	{% for action in activity_stream %}
	<li class="list-group-item media p-a">
	  <a class="media-left" href="{% url 'collab_profile:detail' action.actor.pk %}">
{#		<img class="media-object img-circle" src="{{ action.actor.profile.avatar }}"> #}
		<div class="media-object img-profile" style="background:url({{ action.actor.profile.avatar }});"></div>
	  </a>
	  <div class="media-body">
		<span class="pull-right text-muted">
		{{ action.timestamp|timesince }} {% trans "ago" %}
		</span>
		{{ action.action_object|verbose_name|capfirst }}
	    {% if action.action_object.get_absolute_url %}
		  <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a> 
	    {% elif action.action_object.profile %}
		  <a href="{% url 'collab_profile:detail' action.action_object.pk %}">{{ action.action_object }}</a> 
		{% else %}
		  <a href="{{ action.action_object_url }}">{{ action.action_object }}</a>{% endif %} 
		  {{ action.verb }}

		{% if action.actor %}
			{% trans "by" %}
			{{ action.actor }}
		{% endif %}


	  </div>
	</li>
	{% endfor %}
	{% else %}
		<li class="list-group-item media p-a">
		<h2 class="clear-before"><small class="text-muted">{% trans 'No current activity.' %}</small></h2>
		</li>
	{% endif %}
	</ul>
	
